<%- include('partials/header') %>

<div class="container">
  <div class="d-flex justify-content-between">

    <h1>My Notes</h1>
    <a href="/notes/create" class="btn btn-primary mb-4">Create New Note</a>
  </div>
  <div class="row mb-5">
    <% if(notes.length > 0) { %>
      <div class="sticky-top" style="z-index: 1; top: 3.5rem; padding-top: 0.5rem; margin-bottom: 1rem; background-color: inherit;">
        <form id="filterSearchForm" action="/notes" method="GET" class="sticky-top" role="search" aria-label="Search and Filter Form">
            <!-- <div class="input-group">
              <button class="btn btn-outline-secondary" type="submit" aria-label="Submit search">
                <i class="bi bi-search"></i>
              </button>
              <input type="search" class="form-control" placeholder="Search by title" aria-label="Search input">
            </div> -->
            <div class="input-group sticky-top">
              <span class="input-group-text">
                <i class="bi bi-funnel"></i>
              </span>
              <!-- select attributes from choices library -->
              <label for="choices-multiple-remove-button" class="visually-hidden">Filter notes by category</label>
              <select
              name="filter"
              id="choices-multiple-remove-button"
              placeholder="Filter notes by category"
              multiple
            >
            <% tags.forEach(tag => { %>
              <option 
                value="<%= tag %>" 
                <%= filters && filters.includes(tag) ? 'selected' : '' %>
                >
                <%= tag %>
              </option>
              <% })%>
            </select>
            <button hidden class="btn btn-outline-secondary" type="submit" aria-label="Submit filter">
              Apply filter
            </button>
          </div>
        </form>
      </div>
      <% notes.forEach(note => { %>
        <div class="col-md-6 col-lg-4 mb-4">
          <article class="card h-100 shadow-sm hover-shadow border-0">
            <div class="card-body">
              <h3 class="h5 card-title"><%= note.title %></h3>
              <p class="card-subtitle mb-3 text-muted small">
                Last updated: <%= note.updatedAt.toLocaleDateString() %>
              </p>
              <div class="card-text mb-3">
                <p><%= note.content.length > 100 ? note.content.substring(0, 100) + '...' : note.content %></p>
              </div>
              <div>
                <% note.tags.forEach(tag => { %>
                  <span class="badge text-primary bg-primary bg-opacity-10 border-0"><%= tag %></span>
                <% }) %>
                </div>
            </div>
              <div class="card-footer border-0 d-flex justify-content-between align-items-center">
                <div>
                  <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#noteModal<%= note._id %>">
                    View
                  </button>
                  <a href="/notes/<%= note._id %>" class="btn btn-sm btn-outline-primary">Edit</a>
                </div>
                <form action="/notes/delete/<%= note._id %>?_method=DELETE" method="POST" class="p-0">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
              </div>
            </div>
          </article>

            <!-- Modal -->
            <div class="modal fade" id="noteModal<%= note._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel<%= note._id %>" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel<%= note._id %>"><%= note.title %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="card-text mb-3">
                      <p><%= note.content %></p>
                    </div>
                    <div>
                      <% note.tags.forEach(tag => { %>
                        <span class="badge text-primary bg-primary bg-opacity-10 border-0"><%= tag %></span>
                      <% }) %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
    <% } else { %>
      <div class="col-12">
        <div class="alert alert-info">
          <p class="mb-0">You have no notes yet. Create your first note below!</p>
        </div>
      </div>
    <% } %>
  </div>
  
<%- include('partials/footer') %>